*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

body{
    margin-top: 200px;
    background-color: #1a222c;
    font-family: 'Urbanist', sans-serif;

}


input{
width: 300px;
   margin: 20px;
   font-family: 'Urbanist', sans-serif;
   padding: 12px 40px;
   font-size: 12px;
   border-width: 1px;
   border-style:solid;
   border-color: #cbcbcb;
   text-align: center;
   outline: transparent;
   width: 100%;

}


button{

    margin-bottom: 40px;
    color: #fcfffc;
    background-color: #ef6b54;
    font-size: 12px;
    border: 1px solid #ef6b54;
    padding: 10px 40px;
    cursor: pointer
}

button:hover {
		color: #ef6b54;
		background-color: #fcfffc;
    	}

